#toggle {
	padding: 0%;
	margin: 0 22%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	justify-items: center;
}

#section-header {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
}

.inactive {
	color: gray;
	text-decoration: none;
}

.inactive:hover {
	text-decoration: underline;
}

.active {
	color: teal;
	text-decoration: underline;
}

.clickable:hover {
	cursor: pointer;
}

.neutral:hover {
	cursor: default;
}
